<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Planaer app</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="../static/inner.css">
</head>

<body>
    <div class="container">
        <div class="sideMenu">
            <div class="inner">
                <button>
                    <img src="../png/015-24-hours-1.png" alt="" width="30" height="30">
                    today</button>
                <button> my week plaen
                    <img src="../png/003-stopclock.png" alt="" width="30" height="30">
                </button>
                <button>old task
                    <img src="../png/007-pin.png" alt="" width="30" height="30">
                </button>
                <button>add random task
                    <img src="../png/002-tools.png" alt="" width="30" height="30">
                </button>
                <button>most do task
                    <img src="../png/008-help.png" alt="" width="30" height="30">

                </button>
                <div class="fit" style="text-align: center">
                    <div class="round"></div>
                    <div class="round"></div>
                    <div class="round"></div>
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="up-mneu">

        <a href="/">HOME</a>
        <a href="/abuot">ABOUT</a>
        <a href="#">LOGIN</a>

    </div>
    what
</body>

</html>